<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MMI Channel | Enregistrement et connexion{% endblock %}</title>
    <meta charset="utf-8">
    {% block stylesheets %}{% endblock %}
    {% stylesheets
    'bundles/mmiback/css/bootstrap.min.css'
    'bundles/useruser/stylesheets/screen.css'
    'bundles/mmiback/css/font-awesome.css'
    filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}">
    {%  endstylesheets %}
    {% block javascripts %}{% endblock %}
    {% javascripts
    '@MmiBackBundle/Resources/public/js/jquery-2.1.0.min.js'
    '@MmiBackBundle/Resources/public/js/bootstrap.js'
    %}
    <script src="{{ asset_url }}"></script>
    {%  endjavascripts %}
</head>
<body id="back">
{% block script %}{% endblock %}
<div class="col-lg-12">
    <div class="col-lg-6 col-lg-offset-3 mgt">
    {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>