{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}

    <div id="error" class="col-lg-4 col-md-4 col-sm-4 col-xs-4"><div id="glyph" class="glyphicon glyphicon-warning-sign col-lg-1 col-md-1 col-sm-1 col-xs-1"></div><p class="col-lg-11 col-md-11 col-sm-11 col-xs-11 robotomed">{{ 'resetting.password_already_requested'|trans }}</p></div>

{% endblock fos_user_content %}
