{% extends '::fos.html.twig' %}
       {% block content %}
           <img class="responsive col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3" src="{{ asset('bundles/useruser/img/logo-final-mmichannel.png') }}" alt="logo-mmi-channel">


        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}


            {% block fos_user_content %}
            {% endblock fos_user_content %}
    {% endblock %}
{% block script %}
{% endblock %}
